# by default, pipelines are enabled for all branches
# trigger:
# - master

jobs:
- job: LibraryTests
  pool:
    vmImage: 'ubuntu-latest'
  displayName: 'Main tests'
  strategy:
    matrix:
      py36:
        python.version: '3.6'
      py37:
        python.version: '3.7'
      py38:
        python.version: '3.8'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      python -m pip install --upgrade pip wheel
    displayName: 'Install dependencies'

  - script: |
      python -m pip install .
    displayName: 'Build project'

  - script: |
      pip install pytest pytest-azurepipelines pytest-xdist
      pytest -n auto test/
    displayName: 'pytest'

- job: ExampleTests
  pool:
    vmImage: 'ubuntu-latest'
  displayName: 'Test usage examples'
  strategy:
    matrix:
      py36:
        python.version: '3.6'
      py37:
        python.version: '3.7'
      py38:
        python.version: '3.8'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      proof-of-concept/build_wheel_nodeps.sh
    displayName: 'Build pof wheel'

  - script: |
      python -m pip install proof-of-concept/dist/*.whl
    displayName: 'Install pof'

  - script: |
      python -m pip install pytest pytest-azurepipelines
    displayName: 'Install test dependencies'

  - script: |
      python -m pytest proof-of-concept/
    displayName: 'Run pof tests'

- job: CheckAutogen
  pool:
    vmImage: 'ubuntu-latest'
  displayName: 'Check autogen'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
    displayName: 'Use Python 3.8'

  - script: |
      pip install pycparser==2.20
      pip install py==1.8.0
      pip install packaging==19.2
      pip install attrs==19.3.0
    displayName: 'Install dependencies'

  - script: |
      make autogen
      if [ -z "$(git status --porcelain)" ]; then
          # clean working copy
          echo "Working copy is clean, everything ok"
      else
          # Uncommitted changes
          echo "ERROR: uncommitted changes after running make autogen"
          echo "git status"
          git status
          echo
          echo "git diff"
          git diff
          exit 1
      fi
    displayName: 'make autogen'

- job: CheckPy27
  pool:
    vmImage: 'ubuntu-latest'
  displayName: 'Check Python2.7 compatibility'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '2.7'
    displayName: 'Use Python 2.7'

  - script: |
      pip install pytest pathlib
      python test/check_py27_compat.py
    displayName: 'check_py27_compat.py'

- job: CPPCheck
  pool:
    vmImage: 'ubuntu-latest'
  displayName: "Run CPPCheck"
  variables:
    CPPCHECK_BUILD_DIR: $(Pipeline.Workspace)/.cppcheck
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
    displayName: 'Use Python 3.8'

  - script: sudo snap install cppcheck --channel=latest/stable
    displayName: Install CPPCheck

  - task: Cache@2
    inputs:
      key: 'cppcheck | "$(Agent.OS)"'
      path: $(CPPCHECK_BUILD_DIR)
    displayName: Cache CPPCheck analysis files

  - script: make cppcheck
    displayName: Run CPPCheck

- job: Flake8
  pool:
    vmImage: 'ubuntu-latest'
  displayName: "Run Python static analysis checks"
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
    displayName: 'Use Python 3.8'
  - script: |
      pip install flake8
    displayName: Install dependencies
  - script: make flake8
    displayName: Run flake8

- job: infer
  pool:
    vmImage: 'ubuntu-latest'
  displayName: "Run infer"
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
    displayName: 'Use Python 3.8'
  - script: |
      pip install compiledb wheel;
      VERSION=0.17.0; \
      curl -sSL "https://github.com/facebook/infer/releases/download/v$VERSION/infer-linux64-v$VERSION.tar.xz" \
      | sudo tar -C /opt -xJ && \
      echo "##vso[task.prependpath]/opt/infer-linux64-v$VERSION/bin"
    displayName: Install infer
  - script: make infer
    displayName: Run infer

- job: Valgrind
  pool:
    vmImage: 'ubuntu-latest'
  displayName: 'Check memory leaks'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
    displayName: 'Use Python 3.8'
  - script: sudo apt update && sudo apt install -y valgrind
    displayName: 'Install valgrind'
  - script: python -m pip install --upgrade pip
    displayName: 'Install dependencies'
  - script: python -m pip install .
    displayName: 'Build project'
  - script: |
      pip install pytest pytest-azurepipelines pytest-valgrind
      make valgrind
    displayName: 'Run valgrind'
